li.collection-item.avatar
    i.material-icons.circle#groupIcon assignment_ind
    span.title#groupName
    p
        #size
        .multiline#members
    .secondary-content
        a#joinLink(onclick='moveUser($(this))')
            i.material-icons.pointer.primaryColour-colour#joinLinkIcon person_add
