li.collection-item.avatar
    i.material-icons.circle#icon
    span.title#name
    p
        #status
    .secondary-content
        a#goLink
            i.material-icons.pointer.primaryColour-colour send
