.row
    .col.s8
        .card.center
            .card-content
                | #{project.title}
            .card-action
                #description #{project.description}
    .col.s4
        ul.collection
            li.collection-item.center
                span.title Team
                br
                | Group name
            li.collection-item.avatar
                i.material-icons.circle people
                span.title Student 1
                br
                | student1
                br
                | Contact
            li.collection-item.avatar
                i.material-icons.circle people
                span.title Student 2
                br
                | student2
                br
                | Contact
            li.collection-item.avatar
                i.material-icons.circle people
                span.title Student 3
                br
                | student3
                br
                | Contact
            li.collection-item.avatar
                i.material-icons.circle people
                span.title Student 4
                br
                | student4
                br
                | Contact
.row
    .col.s12
        ul.collection
            li.collection-item
                span.title Deadlines
            li.collection-item.avatar
                i.material-icons.circle people
                span.title Deadline
                br
                | Impending doom written here
.row
    .col.s12
        ul.collection
            li.collection-item
                span.title Assigned tickets
            li.collection-item.avatar
                i.material-icons.circle people
                span.title Ticket you are due to do
                br
                | Probably the same info as regular tickets in the backlog. Only if you are assigned to them though. Created too maybe