li#groupMembersList
    .collapsible-header#header(onclick='setActive($(this))')
        i.material-icons assignment_ind
        #title
        #groupSize
    .collapsible-body.padding-0#groupBody
        ul.collection#assignedList
