li.collection-item.dismissable
    i.material-icons.circle.vertical-align-middle.padding-right-5#icon
    span.vertical-align-middle#name
    a.secondary-content.modal-trigger(href='#groupModal')#modalTrigger
        i.material-icons edit
