li.collection-item.avatar
    i.material-icons.circle#icon
    span.title#name
    p
        #type
        #email
    a.secondary-content#transfer(onclick='transfer($(this))')
        i.material-icons.pointer.primaryColour-colour compare_arrows
