extends ../layout

block styles
    link(rel='stylesheet' href='/stylesheets/css/projects.css')
    link(rel='stylesheet' href='/summernote/summernote.css')

block title
    title #{__('projects.title')}

block content
    include ../navbar
    .container
        br
        .row
            .col.s12
                .card.center
                    .card-image
                        a.btn-floating.halfway-fab.waves-effect.waves-light.red.left(href='/projects')
                            i.material-icons arrow_back
                    .card-content
                        h5.card-title #{__('projects.form.title')}
                        h6 #{__('projects.form.description')}
                    .card-action
                        .row
                            include projects-add-content
                        .row
                            button.waves-effect.waves-light.btn.primaryColour-background-colour(type='submit') #{__('actions.save')}
                                i.material-icons.right save
block scripts
    script(src='/js/projects/projects-add.js')