.row
    .col.s8
        .card.center
            .card-content
                | The title of our project
            .card-action
                #description | This will be summernoted. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    .col.s4
        ul.collection
            li.collection-item.avatar
                i.material-icons.circle people
                span.title student1
                br
                | Contact
            li.collection-item.avatar
                i.material-icons.circle people
                span.title student2
                br
                | Contact
            li.collection-item.avatar
                i.material-icons.circle people
                span.title student3
                br
                | Contact
            li.collection-item.avatar
                i.material-icons.circle people
                span.title student4
                br
                | Contact
.row
    .col.s12
        ul.collection
            li.collection-item.avatar
                i.material-icons.circle people
                span.title Deadline
                br
                | Impending doom written here
.row
    .col.s12
        ul.collection
            li.collection-item.avatar
                i.material-icons.circle people
                span.title Ticket you are due to do
                br
                | Probably the same info as regular tickets in the backlog. Only if you are assigned to them though. Created too maybe