extends ../layout

block styles
    link(rel='stylesheet' href='/stylesheets/css/tickets.css')

block title
    title #{__('tickets.title')}

block content
    include ../navbar
    br
    .container
        h4.center #{__('history.release')}: #{release.name} #{__('history.history')}
        include team-issues

block scripts
    script(src='/js/projects/release-page.js')
