.row
    .card.board
        table(border='1')
            tr
                th.col.s2 TODO
                th.col.s2 IN PROGRESS
                th.col.s2 CODE REVIEW
                th.col.s2 READY FOR TEST
                th.col.s2 IN TEST
                th.col.s2 DONE
            tr
                td.col.s2 Jill
                td.col.s2 Smith
                td.col.s2 50
                td.col.s2 Jill
                td.col.s2 Smith
                td.col.s2 50
.row
    .card
        .row.center
            .col.s2
                .col.s12
                    p TODO
            .col.s2
                .col.s12
                    p IN PROGRESS
            .col.s2
                .col.s12
                    p CODE REVIEW
            .col.s2
                .col.s12
                    p READY FOR TEST
            .col.s2
                .col.s12
                    p IN TEST
            .col.s2
                .col.s12
                    p DONE
    .card
        .row
            .col.s2
                .col.s12.tickets-column
                    p TODO
                    p TODO
                    p TODO
                    p TODO
                    p TODO
                    p TODO
            .col.s2
                .col.s12.tickets-column
                    p IN PROGRESS
            .col.s2
                .col.s12.tickets-column
                    p CODE REVIEW
            .col.s2
                .col.s12.tickets-column
                    p READY FOR TEST
            .col.s2
                .col.s12.tickets-column
                    p IN TEST
            .col.s2
                .col.s12.tickets-column
                    p DONE
