extends ../layout

block styles
    link(rel='stylesheet' href='/stylesheets/css/tickets.css')

block title
    title #{__('tickets.title')}

block content
    include ../navbar
    br
    .container
        include team-issues

block scripts
    script(src='/js/projects/tag-page.js')
