li(id=`sprint_sprint._id`).collection-item.avatar
    i.material-icons.circle date_range
    button(class=`sprintOpen_sprint._id`, onclick=`deleteSprint('sprint._id', 'sprint.name')`).btn.btn-flat.waves-effect.waves-light.right.no-text-flat-buttons
        i.material-icons.right delete_forever
    button(class=`sprintOpen_sprint._id`, onclick=`activateSprint('sprint._id', 'sprint.name')`).btn.btn-flat.waves-effect.waves-light.right.no-text-flat-buttons
        i.material-icons.right check
    button(class=`sprintActive_sprint._id`, onclick=`closeSprint('sprint._id', 'sprint.name')`).btn.btn-flat.waves-effect.waves-light.right.no-text-flat-buttons.hidden
        i.material-icons.right close
    span.title sprint.name
    p
        | sprint.startDate
        br
        | sprint.endDate