li(id=`tag_tag._id`).collection-item.avatar
    i.material-icons.circle bookmark
    button(onclick=`deleteTag('tag._id', 'tag.name')`).btn.btn-flat.waves-effect.waves-light.right.no-text-flat-buttons
        i.material-icons.right delete_forever
    span.title tag.name