#scrum-analytics
    .col.s12.m4.l2
        .card.gradient-45deg-light-blue-cyan.min-height-100
            .row
                .padding-10
                    .col.s7
                        i.material-icons.background-round.mt-5 person
                        p STATUS
                    .col.s5.right-align
                        h5.margin-bottom-0 690
                        p Tickets
                    p.float-right 6,00,00 points
