li(id=`release_release._id`).collection-item.avatar
    i.material-icons.circle bookmark
    button(onclick=`deleteRelease('release._id', 'release._name')`).btn.btn-flat.waves-effect.waves-light.right.no-text-flat-buttons
        i.material-icons.right delete_forever
    span.title release.name