#scrum-analytics
    .row
        .col.s12.m4.l2
            .card.gradient-todo.min-height-100
                .row
                    .padding-10
                        .col.s7
                            i.material-icons.background-round.mt-5 person
                            p STATUS
                        .col.s5.right-align
                            h5.margin-bottom-0 #
                            p Tickets
                        p.float-right # points
        .col.s12.m4.l2
            .card.gradient-in-progress.min-height-100
                .row
                    .padding-10
                        .col.s7
                            i.material-icons.background-round.mt-5 person
                            p STATUS
                        .col.s5.right-align
                            h5.margin-bottom-0 #
                            p Tickets
                        p.float-right # points
        .col.s12.m4.l2
            .card.gradient-code-review.min-height-100
                .row
                    .padding-10
                        .col.s7
                            i.material-icons.background-round.mt-5 person
                            p STATUS
                        .col.s5.right-align
                            h5.margin-bottom-0 #
                            p Tickets
                        p.float-right # points
        .col.s12.m4.l2
            .card.gradient-ready-for-test.min-height-100
                .row
                    .padding-10
                        .col.s7
                            i.material-icons.background-round.mt-5 person
                            p STATUS
                        .col.s5.right-align
                            h5.margin-bottom-0 #
                            p Tickets
                        p.float-right # points
        .col.s12.m4.l2
            .card.gradient-in-test.min-height-100
                .row
                    .padding-10
                        .col.s7
                            i.material-icons.background-round.mt-5 person
                            p STATUS
                        .col.s5.right-align
                            h5.margin-bottom-0 #
                            p Tickets
                        p.float-right # points
        .col.s12.m4.l2
            .card.gradient-done.min-height-100
                .row
                    .padding-10
                        .col.s7
                            i.material-icons.background-round.mt-5 person
                            p STATUS
                        .col.s5.right-align
                            h5.margin-bottom-0 #
                            p Tickets
                        p.float-right # points
    .row
        h5 test
