li(id=`sprint_sprint._id`).collection-item.avatar
    i.material-icons.circle date_range
    button(onclick=`deleteSprint('sprint._id', 'sprint.name')`).btn.btn-flat.waves-effect.waves-light.right.no-text-flat-buttons
        i.material-icons.right delete_forever
    span.title sprint.name
    p
        | sprint.startDate
        br
        | sprint.endDate