@import 'app.scss';

.full-width {
    width: 100% !important;
}

.padding-0 {
    padding: 0 !important;
}

.padding-right-0 {
    padding-right: 0 !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-right-10 {
    padding-right: 10px !important;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-10 {
    padding: 10px !important;
}

.pointer {
    cursor: pointer;
}

.margin-0 {
    margin: 0 !important;
}

.margin-top-0 {
    margin-top: 0px;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.vertical-align-middle {
    vertical-align: middle;
}

.multiline {
    white-space: pre-wrap;
}

.alignTextLeft {
    text-align: left;
}

.noLineLink:link, .noLineLink:visited, .noLineLink:hover, .noLineLink:active {
    text-decoration: none;
}

.select-wrapper span.caret {
    color: initial;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 10px;
    margin: auto 0;
    font-size: 10px;
    line-height: 10px;
}

.caret {
    display: inline-block;
    width: auto;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 0px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.scroll-auto {
    overflow: auto;
}

// Theme related
.primaryColour-background-colour {
    @include themify($themes) {
        background-color: themed('primaryColour') !important;
    }
}

.loaderBackgroundColour-background-colour {
    @include themify($themes) {
        background-color: themed('loaderBackgroundColour') !important;
    }
}

.primaryColour-colour {
    @include themify($themes) {
        color: themed('primaryColour') !important;
    }
}

.primaryTextOnPrimary-colour {
    @include themify($themes) {
        color: themed('primaryTextOnPrimary') !important;
    }
}

.secondaryColour-background-colour {
    @include themify($themes) {
        background-color: themed('secondaryColour') !important;
    }
}

.primaryTextOnSecondary-colour {
    @include themify($themes) {
        color: themed('primaryTextOnSecondary') !important;
    }
}

.notificationBackground-background-colour {
    @include themify($themes) {
        background-color: themed('notificationBackground') !important;
    }
}

.notificationNumber-colour {
    @include themify($themes) {
        color: themed('notificationNumber');
    }
}

.cancelButtonBackground-background-colour {
    @include themify($themes) {
        background-color: themed('cancelButtonBackground') !important;
    }
}

.cancelButtonText-colour {
    @include themify($themes) {
        color: themed('cancelButtonText') !important;
    }
}

.resetButtonBackground-background-colour {
    @include themify($themes) {
        background-color: themed('resetButtonBackground') !important;
    }
}

.resetButtonText-colour {
    @include themify($themes) {
        color: themed('resetButtonText') !important;
    }
}

.activateButtonBackground-colour {
    @include themify($themes) {
        background-color: themed('activateButtonBackground') !important;
    }
}

.activateButtonText-colour {
    @include themify($themes) {
        color: themed('activateButtonText') !important;
    }
}

// Themed elements
// Switch
.switch label input[type=checkbox]:checked+.lever {
    @extend .loaderBackgroundColour-background-colour;
}

.switch label input[type=checkbox]:checked+.lever:after {
    @extend .primaryColour-background-colour;
}

.customSummernoteButton {
    background-color: #ffffff;
    color: #464646;
    padding: 0 0.5rem;
    margin: 0;
}

div.note-editor.note-frame.panel.panel-default{
    border: 1px solid #eaeaea;
    border-radius: 0px;
}
