#icon {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 400px;
    max-height: 400px;
    padding-bottom: 50px;
    padding-top: 50px;
    width: auto;
}

#main-card {
    max-width: 600px;
    margin: auto;
    text-align: center;
}
