.note-toolbar-wrapper {
    display: none !important;
}

.note-editable {
    background-color: white !important;
}

.ticket-link:link{
    color: #337ab7;
}

.ticket-link:visited{
    color: #337ab7;
}

.ticket-link:hover{
    color: #0089ff;
}

.ticket-link:focus{
    color: #337ab7;
}

.ticket-link:active{
    color: #337ab7;
}
