extends layout

block styles
    link(rel='stylesheet' href='/css/login.css')

block title
    title Velocity - Login

block content
    include navbar
    .container
        img#logo(src='img/logo.png')
        form.form-login#login
            br
            p#invalid
            .row
                .input-field
                    i.material-icons.prefix person
                    input.form-control#username(type='text' name='user' placeholder=__('userInformation.username') required autofocus)
                    label.sr-only(for='user') Username
            .row
                .input-field
                    i.material-icons.prefix vpn_key
                    input.form-control#password(type='password' name='pass' placeholder=__('userInformation.password') required)
                    label.sr-only(for='password') Password
            button(class='btn btn-lg btn-primary btn-block' type='submit') #{__('login.signIn')}
   
block scripts
    script(src='/js/login.js')