extends layout

block styles
    link(rel='stylesheet' href='/stylesheets/css/pageNotFound.css')

block title
    title #{__('pageNotFound.title')}

block content
    .col.s12.m6#card-container
        .card#main-card
            .card-image
                img#icon(src='img/pageNotFound.png')
            .card-content
                h6
                    | #{__('pageNotFound.description')}
            .card-action
                a(href='/') #{__('pageNotFound.prompt')}