li
    .collapsible-header
        i.material-icons settings
        | General Settings
    .collapsible-body
        span Class active (if students can log in)
        .switch
            label
                | Disabled
                input(type='checkbox', name='classActive' , checked=generalActive)
                span.lever
                | Enabled