extends layout

block styles
    link(rel='stylesheet' href='/stylesheets/css/profile.css')

block title
    title #{__('profile.title')}

block content
    include navbar
    .container
        ul.collapsible.popout(data-collapsible='expandable')
            include settings/settings-general
            include settings/settings-users
    .container
        button.waves-effect.waves-light.btn.col.s12.m4.customSettingsButton(type='submit') Save
            i.material-icons.right save

block scripts
  script(src='/js/profile.js')
