.card.ticket
    .row
        .col.s9.padding-left-0
            .row.ticketTitle
                .col.s12.display-inline-flex
                    img.margin-right-5(src='/img/icon-ladybird.png', alt='', height='25', width='25')
                    h6 Ticket ID
            .row
                .col.s12.display-inline-flex
                    img.margin-right-5(src='/img/icon-low-priority.png', alt='', height='25', width='25')
                    p.truncateText This is the kinda long title that this ticket has here for testing purposes
        .col.s3.padding-left-0
            .row
                img.profilePic(src='/profilePicture/null', alt='', height='auto', width='95%')
            .row
                span.ticketPoints 21