li
    .collapsible-header#sprintHeader(onclick='setActive($(this))')
        #title
        span &nbsp;&nbsp;
        em#issueCount
        span &nbsp;&nbsp;
        #dates
    .collapsible-body.padding-0#sprintBody
        ul.collection#backlogTicketList
