li.collection-item.dismissable.pointer.display-flow-root#backlogTicketItem
    .display-inline-block.padding-right-5#typeIcon
    .display-inline-block.padding-right-5#priorityIcon
    span.vertical-align-middle#name
    a.secondary-content.primaryColour-colour.pointer#openTicket
        i.material-icons send
    .right.vertical-align-middle.padding-right-5.display-flex
        span.ticketStatus.margin-right-5#status
        .margin-right-5#image
        span.ticketPoints#estimate
