li.collection-item.dismissable.pointer#backlogTicketItem
    i.material-icons.circle.vertical-align-middle.padding-right-5#icon
    span.vertical-align-middle#name
    a.secondary-content.primaryColour-colour.pointer#openTicket
        i.material-icons send