extends ../layout

block styles
    link(rel='stylesheet' href='/stylesheets/css/profile.css')

block title
    title #{__('tickets.title')}

block content
    include ../navbar
    include tickets-entry

block scripts
    script(src='/js/users/users-add.js')