li.collection-item.avatar.clickable-item
    i.material-icons.circle#icon
    span.title#name
    p
        #type
        #email
    .secondary-content
        a#goLink
            i.material-icons.pointer.primaryColour-colour send
        br
        a#editLink
            i.material-icons.pointer.primaryColour-colour mode_edit
