extends ../layout

block styles
    link(rel='stylesheet' href='/stylesheets/css/users.css')

block title
    title users

block content
    include ../navbar
    br
    .container
        .row
            form.col.s10.offset-s1
                .row
                    .input-field.col.s12.xl8
                        input#last_name.validate(type='text')
                        label(for='last_name') Last Name
                    .input-field.col.s12.m6.xl2
                        select
                            option(value='', disabled='', selected='') Choose your option
                            option(value='1') Option 1
                            option(value='2') Option 2
                            option(value='3') Option 3
                        label Materialize Select
                    .input-field.col.s12.m6.xl2
                        select
                            option(value='', disabled='', selected='') Choose your option
                            option(value='1') Option 1
                            option(value='2') Option 2
                            option(value='3') Option 3
                        label Materialize Select
        .row
            .col.s12
                a.waves-effect.waves-light.btn.right.primaryColour-background-colour(href='/users/add') Create
                    i.material-icons.right send
        .row
            .col.s12
                ul.collection.scroll-auto.margin-0#usersList

block scripts
    script(src='/js/users/users.js')
