extends ../layout

block styles
    link(rel='stylesheet' href='/stylesheets/css/users.css')

block title
    title users

block content
    include ../navbar
    br
    .container
        .row
            form.col.s10.offset-s1
                .row
                    .input-field.col.s12.xl8
                        input#searchFilter.validate(type='text')
                        label(for='searchFilter') Search Filter
                    .input-field.col.s12.m6.xl2
                        select#typeFilter
                            if mode === 0
                                option(value='-1') All
                                option(value='5') Student
                                option(value='4') Teaching Assistant
                                option(value='3') Professor
                            if mode === 1
                                option(value='-1') All
                                option(value='1') Collaborator Admin
                                option(value='2') Collaborator
                        label User Type
                    .input-field.col.s12.m6.xl2
                        select#statusFilter
                            option(value='-1') All
                            option(value='2') Active
                            option(value='1') Pending
                            option(value='0') Disabled
                        label User Status
        .row
            .col.s12
                a.waves-effect.waves-light.btn.right.primaryColour-background-colour(href='/users/add') Create
                    i.material-icons.right send
                a.waves-effect.waves-light.btn.right.primaryColour-background-colour(href='/users/import') Import
                    i.material-icons.right cloud_upload
        .row
            .col.s12
                ul.collection.scroll-auto.margin-0#usersList

block scripts
    script(src='/js/users/users.js')
