.padding-0 {
  padding: 0 !important; }

.padding-right-0 {
  padding-right: 0 !important; }

.padding-right-5 {
  padding-right: 5px !important; }

.padding-right-10 {
  padding-right: 10px !important; }

.padding-top-10 {
  padding-top: 10px; }

.pointer {
  cursor: pointer; }

.margin-0 {
  margin: 0 !important; }

.margin-top-0 {
  margin-top: 0px; }

.margin-right-10 {
  margin-right: 10px !important; }

.noLineLink:link, .noLineLink:visited, .noLineLink:hover, .noLineLink:active {
  text-decoration: none; }
