.theme-default .cardColor {
  background-color: #546e7a !important;
  color: white !important; }

.theme-default .cardAction {
  background-color: #68828e !important; }

.theme-default .linkColor {
  color: #ffab40 !important; }
