.theme-default .navbarLink:link, .theme-default .navbarLink:visited, .theme-default .navbarLink:hover, .theme-default .navbarLink:active {
  color: white !important;
  text-decoration: none; }

.navbarLinkHidden:link, .navbarLinkHidden:visited, .navbarLinkHidden:hover, .navbarLinkHidden:active {
  color: black;
  text-decoration: none; }

.theme-default .nav-colour {
  background-color: #546e7a; }

.notification-item {
  display: -webkit-inline-box !important; }

.theme-default .notifBadgeColour {
  background-color: #26a69a !important; }

.mobile-badge {
  display: block;
  font-size: 11px;
  margin-left: -5px;
  margin-top: -5px;
  position: relative; }
  .theme-default .mobile-badge {
    color: #02ffe6; }

#notifications_nav li {
  -webkit-animation-duration: 0.3s; }

.blue-text {
  color: blue; }

.truncate {
  display: inline-block !important;
  overflow: hidden;
  padding-left: 15px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%; }

.full-description {
  margin-left: 50px;
  padding-right: 10px;
  line-height: 1.5em !important;
  word-wrap: break-word; }

.right-icons {
  color: gray;
  display: inline-flex; }
  .right-icons .clear-notification {
    padding: 0 5px; }

.visibility-icon {
  padding-top: 14px; }
